/* ©UNED */
.introPanel {
	text-align:center;
	font-size:120%;
	padding-top:150px;
}

.introLabelColumn {
	text-align:left;
	font-size:90%;
}

.introFieldColumn {
    text-align:center;
}

.introButton {
	margin-top:15px;
	width:250px;
	font-size:90% !important;
}

.columnIntroEmpty {
	width:200px;
}

.columnIntroMessages {
	text-align:center;
	width:600px;
}

.ui-messages-error {
    font-size:80% !important;
}
