/* ©UNED */
.userGroupsPickList .ui-picklist-list {
    width:215px;
}

.ui-wizard-content {
	font-size:90%;
}

.ui-wizard-navbar {
	font-size:75%;
}

.ui-wizard-step-title {
	font-size:85%;
}

.ui-tabs-panel {
	font-size:90%;
	padding:0px;
}

.ui-tabs-nav {
	font-size:75%;
}

.ui-spinner-input {
    width:77px;
    font-size:85% !important;
    margin:0px;
}

.ui-selectonemenu-item {
    font-size:85% !important;
}

.dialog {
    font-size:90% !important;
}

.dialogPanel {
    vertical-align:middle; 
    margin-bottom:5px;
}

.panelTab {
	width:99%;	
}

.combo {
    font-size:90% !important;
    padding-left:2px;
    padding-right:2px;
}

.commonDataLabels {
	vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
    width:160px;
}

.commonDataInputs {
    vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
}

.userGroupsLabel {
    vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
    width:160px;
}

.userGroupsText {
    vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
    width:420px;
}

.userGroupsAddGroups {
    vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
}

.displayUserPermissionsLabel {
    vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
    width:370px;
}

.displayUserPermissionsInput {
    vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
}

.rightAlign {
    text-align:right;  
    width:100%; 
}

.rightAlignTop {
    text-align:right;
    width:100%; 
    margin-top:-5px;
    margin-bottom:5px;
}

.rightAlignTopDialog {
    text-align:right;
    width:100%;
    margin-top:5px;
    margin-bottom:-5px;
}

.centerAlignBottom {
    text-align:center;  
    width:100%; 
    margin-top:-10px;
    margin-bottom:-5px;
}

.button {
	font-size:85% !important;
}

.confirmButtons {
    margin:10px;
    font-size:85% !important;
}

.commonDataNewUserButtonsRightAlign {
    text-align:right;  
    width:100%; 
	margin-top:-10px;
	margin-bottom:-10px;
} 

.commonDataNewOmUserButtonsRightAlign {
    text-align:right;  
    width:100%; 
    margin-bottom:-10px;
} 

.commonDataUpdateUserButtonsRightAlign {
    text-align:right;  
    width:100%; 
    margin-top:5px;
    margin-bottom:-10px;
}

.addUserGroupButton {
    font-size:85% !important;
	margin-right:20px;
}

.ui-messages-error {
	font-size:90% !important;
}

.ui-growl-message {
    font-size:90% !important;
}

.userGroupsAlignTop {
    width:100%;
    margin-top:0px; 
    margin-bottom:5px;
}

.userGroupsTopGrid {
    width:100%;
}

.columnUserGroupsLabel {
    vertical-align:middle;
    padding-top:8px;
    padding-bottom:12px;
    width:160px;
}

.userGroupsPanel {
    float:right;
}

/* Tables */
/* ------ */
.userGroupsTable, .permissionsTable {
    width:100%;
    font-size:90% !important;
}

.headerRow {
}

.dataRow {
    padding:5px;
    margin:5px;
}

.columnUserGroup {
	width:660px;
}

.columnPermission {
	width:245px;
}

.columnStatus {
    width:150px;
    text-align:center;
}

.columnType {
    width:70px;
    text-align:center;
}

.columnValue {
    width:100px;
    text-align:center;
    padding-left:0px;
}

.columnEdit {
    width:20px;
	text-align:center;
}

.columnDelete {
    width:20px;
    text-align:center;
}

.columnReset {
    width:20px;
    text-align:center;
}
